<!doctype html>
<html lang="en">
  <head>
    {{> header}}
  </head>
  <body>
  <div class="container">
{{> menu}}
<h1>Login Page</h1>
<form action='/login' method="POST">
{{> form}}
</form>
</div>
{{> footer}}
  </body>
</html>