<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{> header}}
  </head>
  <body>
    <div class="container">
      {{> menu}}
      <form action='/register' method="POST">
      {{> form}}
      </form>
    </div>
    {{> footer}}
  </body>
</html>